html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main .top {
  display: flex;
}
.main .top > div {
  flex-grow: 1;
  border: 1px solid #d9d9d9;
  margin-left: -1px;
  padding: 11px;
}
.main .top > div:first-child {
  width: 35%;
}
small {
  font-size: 9px !important;
}
